@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Spartan&display=swap");
* {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #15191f;
  color: #FAFAFA;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

h1{
  color: #FAFAFA;
}

div{
  text-align: justify;
}

/*For paragraph */

p{
  text-align: center;

}

.page {
  color: #40403F;
  width: 100vw;
  height: calc(100vh - 4.5rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

nav ~ .content-page {
  margin-top: 4.5rem;
}

.content-page {
  font-size: 1.75rem;
  color: #FAFAFA;
  font-size: 30px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.heading{
  text-align: center;
  letter-spacing: 2px;
  text-decoration-color: #FFD369;
  text-shadow: 0px 0px 6px #FFD369;
}

#intro {
  text-align: center;
}
@media (max-width: 720px) {
  #intro {
    margin-top: 4.5rem;
  }
}
#intro > #intro-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  align-content: center;
  text-shadow: 2px 2px 10px #FFD369;

}
#intro > #intro-description {
  font-size: 1rem;
}

nav {
  position: absolute;
  top: calc(100vh - 4.5rem);
  width: 100vw;
  min-height: 4.5rem;
  background: #393E46;
  box-shadow: 0 -2px 1rem #FFD369;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 720px) {
  nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    top: 0;
    height: 80vh;
    width: initial;
  }
}
nav a {
  position: relative;
  background: transparent;
  text-align: center;
  height: 4.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #FAFAFA;
}
@media (max-width: 720px) {
  nav a {
    width: 100%;
    margin: auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
}
nav a.menu-btn {
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (min-width: 720px) {
  nav a.menu-btn {
    display: none;
  }
}
nav a#user-btn {
  color: #FFD369;
}
nav a.tab:not(.placeholder), nav a.tab:not(.placeholder)::after {
  border: none;
  outline: none;
  cursor: pointer;
  flex: 1;
  line-height: 4.5rem;
  font-size: 1.2rem;
  vertical-align: center;
}
nav a.tab:not(.placeholder)::before, nav a.tab:not(.placeholder)::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
nav a.tab:not(.placeholder)::before {
  content: "";
  border-bottom: solid 2px #FFD369;
  transition: 0.5s ease;
  z-index: 1000;
}
@media (max-width: 720px) {
  nav a.tab:not(.placeholder)::before {
    display: none;
  }
}
nav a.tab:not(.placeholder)::after {
  content: attr(data-text);
  font-size: 1.2rem;
  color: #222831;
  background: #FFD369;
}
@media (max-width: 720px) {
  nav a.tab:not(.placeholder)::after {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.5rem;
  }
}
nav a.tab:not(.placeholder):hover::after {
  opacity: 1;
  transition: 0.5s ease;
}
nav a.tab:not(.placeholder).active::before {
  opacity: 1;
  transition: 0.5s ease;
}
nav a.tab.hidden {
  display: none;
}
nav.hidden {
  transform: translateX(-100%);
}

/* For the login part */
.main {
        background-color: #F7F6F2;
        width: 50%;
        height: 75%;
        margin: 7em auto;
        border-radius: 1em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

.sign {
        padding-top: 1%;
        color: #393E46;
        font-weight: bold;
        font-size: 1.5rem;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 80px;
    text-align: center;
    margin-bottom: 10px;
    }

    form.form1 {
        padding-top: 10px;
    }

    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 10px;
    border: 2px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 80px;
    text-align: center;
    margin-bottom: 27px;
    }


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
      cursor: pointer;
      width: 60%;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #FFD369, #393E46);
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-left: 37%;
        margin-right: 20%;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: black;
        padding-top: 10px;
        font-size: 0.5em;
        margin-left: 35px;
    }

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #FFD369;
        text-decoration: none
    }

    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
    }